/* Global styles */

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;

}

:root {
    --main-font-color: #f2b632;
    --white-color: #fff;
    --main-font-dark-color: #4d4d4d;
    --main-footer-bg-color: #141414;
    
}

section {
    padding: 6rem 0;
}

p {
    line-height: 1.5;
    font-size: 1.8rem;
    font-weight: 300;
    color: var(--main-font-dark-color);
}

a{
    text-decoration: none;
    color: var(--white-color);
}


/*Reusable classes*/

.btn {
    display: inline-block;
    transition: all 650ms;
    border-radius: .3rem;
    text-transform: uppercase;
}

.btn-info{
    font-size: 1.6rem;
    padding: 1rem;
    color: var(--main-font-color);
    border-bottom: .2rem solid var(--main-font-color);
    margin: 2rem 4rem; 
}

.btn-info:hover{
    background-color: var(--main-font-color);
    color: var(--white-color);
}

.custom-font-primary{
    font-size: 7rem;
    font-family: 'Satisfy', cursive;
    color: var(--main-font-color);
    line-height: 1;
    text-shadow: .2rem .2rem .1rem black;
    margin-bottom: 1rem;
}

.custom-font-secondary{
    text-transform: uppercase;
    letter-spacing: .5rem;
    font-size: 2.4rem;
    color: var(--main-font-dark-color);
    margin-bottom: 5rem;
}

.container{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.between-sec{
    padding: 20rem 0;
    text-align: center;

}

.between-sec-color{
    color: var(--white-color);
}

/* Header */

.main-header {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0,0,0,0.9), transparent),
                url("../img/adult-alcohol-bar-274192.jpg") bottom no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
}

.main-text{
    line-height: 0;
    margin: auto;
    color: var(--white-color);
}

.main-text h1{
    font-family: 'Satisfy', cursive;
    color: var(--main-font-color);
    font-size: 8rem;
    font-weight: 100;
    margin-bottom: 8rem;
    text-shadow: .2rem .2rem .1rem black;
}

.main-text h2{
    text-transform: uppercase;
    letter-spacing: .5rem;
    margin-right: -.5rem;
    font-size: 2rem;
    line-height: 1;
    position: relative;
    text-shadow: .2rem .2rem .1rem black;
    
}

.main-text h2::before,
.main-text h2::after{
    content: "";
    width: 5rem;
    height: .3rem;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    background-color: var(--white-color);
    border-radius: .8rem;
}

.main-text h2::before{
    left: -6rem;
}

.main-text h2::after{
    right: -6rem;
}

.btn-main{
    font-size: 1.6rem;
    border: .2rem solid var(--main-font-color);
    padding: 2rem 2.5rem;
    letter-spacing: .3rem;
    margin-right: -.3rem;
    position: relative;
    margin-top: 3rem;
}

.btn-main:hover{
    transform: translateY(-.3rem);
    box-shadow: 0 1rem 2rem rgba(0,0,0, 0.2);
}

.btn-main:active{
    transform: translateY(0);
    box-shadow: none;
}

/* Menu toggle */

.hamburger-menu{

    padding: 2rem 2.5rem;
    position: fixed;
    top: 3rem;
    right: 3rem;
    background-color: rgba(0,0,0,0.5);
    z-index: 99;
    border-radius: .3rem;
    cursor: pointer;
}

.bar,
.bar::before,
.bar::after{
    content: "";
    position: absolute;
    height: .2rem;
    width: 4rem;
    background-color: var(--white-color);
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transition: 650ms;
}

.bar::before{
    top: -2rem;
}

.bar::after{
    top: 2rem;
}

.active .bar{
    background-color: transparent;
}

.active .bar::before{
    transform: rotate(45deg);
}

.active .bar::after{
    transform: rotate(-45deg);
}

.active .bar::before,
.active .bar::after{
    top: 0;
}

/* Navbar */

.main-navbar{
    width: 100%;
    height: 6rem;
    line-height: 6rem;
    position: relative;
}

.overlay{
    background-color: rgba(0,0,0, 0.8);
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: 1;
    transition: opacity 650ms;
    transform: scale(0);
    opacity: 0;
}

.overlay.menu-open{
    transform: scale(1);
    opacity: 1;
}

.main-navbar__list{
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-navbar__list-item{
    text-transform: uppercase;

}

.main-navbar__link{
    display: block;
    font-size: 2rem;
    transition: all 650ms;
}

.main-navbar__link:hover,
.main-navbar__link .active:hover{
    color: var(--main-font-color);
}

/* Our story section */

.store{
    width: 100%;
    background: url("../img/bar-city-commerce-1058277.jpg") center no-repeat;
    background-size: cover;
    min-height: 30rem;
}

/* Section - fresh ingredients */

.fresh-stuff{
    width: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0, 0.5),
    rgba(0,0,0,0.5)), url("../img/citrus-close-up-delicious-161559.jpg") center no-repeat;
    background-size: cover;
}

.cocktails{
    width: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0, 0.5),
    rgba(0,0,0,0.5)), url("../img/alcohol-bar-barman-110472.jpg") center no-repeat;
    background-size: cover;
}

.image-group{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1rem;
}

.gallery__img{
    width: 100%;
    height: 40rem;
}


.contact-us form{
    width: 100%;
    min-width: 9rem;
    margin-top: 5rem;
}

input,
textarea{
    width: 100%;
    max-width: 100%;
    margin: .5rem 0;
    padding: .5rem 1rem;
    border-radius: .3rem;
    font-size: 1.6rem;
    border: .1rem solid var(--main-font-color);
    color: #878787;
}

.input::placeholder,
.textarea::placeholder{
    color: #878787;
}

.textarea{
    height: 10rem;
}

.btn-submit{
    background-color: var(--main-font-color);
    color: var(--white-color);
    width: 100%;
    padding: 1rem 0;
    cursor: pointer;

}

.main-footer{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    background-color: var(--main-footer-bg-color);
    font-size: 1.8rem;
    color: var(--white-color);
}

.main-footer h4{
    font-size: 3rem;
    margin: 1rem 0;
}

.main-footer h5{
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    color: var(--main-font-color);

}

/* Media queries */

@media screen and (min-width: 783px){
    .main-header,
    .between-sec{
        background-attachment: fixed;
    }

    .hamburger-menu{
        display: none;
    }

    .main-navbar{
        display: flex;
        padding: 2rem 10rem 0;
        justify-content: space-between;
    }

    .overlay{
        position: initial;
        background: none;
        opacity: initial;
        transform: initial;
    }

    .main-navbar__list{
        flex-direction: row;
        list-style: none;
        margin-top: .2rem;
        
    }

    .main-navbar__link{
        font-size: 2.4rem;
        letter-spacing: .1rem;
        padding: 0 2rem;
    }

    

}
